streamlit
ollama
json-log-formatter
openai
python-dotenv
opentelemetry-api==1.28.2
opentelemetry-sdk==1.28.2
azure-monitor-opentelemetry-exporter
opentelemetry-instrumentation-openai
azure-ai-inference